.zoomViewport {
	position:					fixed;				/* viewport */
	top:						0;
	bottom:						0;
	left:						0;
	right:						0;
}

.zoomContainer {
	position:					relative;
	width:						1024px;				/* presentation space */
	height:						 649px;
	background-color:			#000;
}

.zoomContainer * {
	-webkit-filter: none;
}

.zoomContainer > .zoomTarget {
	display:					inline-block;
	position:					absolute;
	-webkit-transform-origin:	center center;		/* rotate around center */

	background-color:			#DEE;
	opacity:					0.8;
	padding:					4px 8px;
	border-radius:				4px;
	box-shadow:					3px 3px 4px rgba(0, 0, 0, 0.5);
}
